@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

.sync{
    width: 100%;
    height: 93vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.sync p{
    font-size: 50px;
    font-weight: 100;
    font: poppins;
    margin-bottom: 20px;
}

.sync h1{
    font-size: 50px;
    font-weight: 100;
    font: poppins;
    margin-bottom: 20px;
}

#syncButton{
    background-color: #4c63aa;
    color: #fff;
    border: none;
    padding: 10px 70px;
    border-radius:50px;
    font-size: 40px;
    font-weight: 600;
    font: poppins;
    cursor: pointer;
}

@media only screen and (max-width:670px){
    .sync p{
        font-size: 20px;
        font-weight: 100;
        font: poppins;
        margin-bottom: 20px;
    }
    
    .sync h1{
        font-size: 40px;
        font-weight: 100;
        font: poppins;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:535px){
    .sync p{
        font-size: 10px;
        font-weight: 100;
        font: poppins;
        margin-bottom: 20px;
    }
    
    .sync h1{
        font-size: 20px;
        font-weight: 100;
        font: poppins;
        margin-bottom: 20px;
    }
}