@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;800&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    background-color: #f5f5f5;
    color : rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font : poppins;
    font-size: 39px;
    font-weight: 700;
    align-items: center;
    padding-bottom: 20px;
}

.navbar-text{
    padding-left: 100px;
}

.nav-button{
    background-color: transparent;
    border: none;
    padding-right: 100px;
}

img{
    width: 4vh
}

@media only screen and (max-width:1045px){
    .navbar{
        font-size: 19px;
        font-weight: 400;
    }
    .navbar-text{
        padding-left: 40px;

    }
    .nav-button{
        padding-right: 40px;
    }
}

@media only screen and (max-width:360px){
    .navbar{
        font-size: 10px;
        font-weight: 400;
    }
    .navbar-text{
        padding-left: 40px;

    }
    .nav-button{
        padding-right: 40px;
    }
}