*{
    padding: 0px;
    margin: 0px;
}

.shelf{
    display: flex;
    flex-direction: column;
}

.shelf-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 57%;
    /* border: 2px solid black; */
}
@media only screen and (max-width:450px){
    .shelf-body{
        width :100%;
    }
}

